/* GLOBAL */

body {
  background-color: #eee;
}

h1 {
  color: #666;
}

/* SPRINT PLANNING */

.sprint-planning {
}

.configuration.mui-panel {
  padding-bottom: 0; /* for .status-line */
}

.configuration .mui-textfield {
  padding-top: 6px;
}

.status-line {
  background-color: grey;
  color: white;
  text-transform: uppercase;
  padding: 5px 0;
  position: relative; /* for .status-line__btn */
}

.status-line__btn.mui-btn.mui-btn--flat {
  position: absolute;
  margin: 0;
  right: 5px;
  top: 5%;
  height: 85%;
  line-height: 200%;
  color: white;
}
.status-line__btn.mui-btn.mui-btn--flat:hover {
  color: black;
}

.status-line--wip{
  background-color: orange;
}

.status-line--success {
  background-color: green;
}

.status-line--error {
  background-color: red;
}

/* ISSUES */

.issue-item {
}

.issue-item__summary {
  padding-left: 5px;
}

/* TEAM MEMBERS */

.team-members-box {
  position: fixed;
  right: 0;
}

.team-members-list {
  margin-bottom: 20px;
  width: 100%;
}

.team-members-list__buttons .mui-btn {
  display: block;
  margin-left: 0;
}

.team-members-list__item {
  font-size: 1.1em;
}

.team-members-list__item__segment {
  padding-top: 20px;
}

.team-members-list__item__segment--name {
  width: 100%;
  font-weight: bold;
}

.team-members-list__item__segment--name .editable-label {
  width: 100px;
}

.team-members-list__item__segment--capacity {
  color: #AAA;
  min-width: 40px;
}

.team-members-list__item__segment--capacity .editable-label {
  width: 40px;
}

/* Hiding capacity labels, only showing when editing (input) */
.team-members-list__item__segment--capacity span.editable-label {
  display: none;
}

.team-members-list__item__segment--assigned {
  min-width: 40px;
}

.team-members-list__item__segment--assigned .editable-label {
  width: 40px;
}

/* COMPONENTS */

/* EDITABLE-LABEL */

.editable-label {
  cursor: pointer;
}

/* UI */

.meter {
  position: relative;
  background: #DDD;
}

.meter__level {
  display: block;
  height: 5px;
  position: relative;
  overflow: hidden;
}
